In [1]:
#Dependencies
import pandas as pd
import numpy as np
import os

In [2]:
#File Path
purchase_data = os.path.join('Resources', 'purchase_data.json')
#Create Dataframe and display first 5 rows of DataFrame
df = pd.read_json(purchase_data)
df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [3]:
#Get number of players
uniqueSN = df['SN'].unique() #creates an array containing the number of unique players in Heroes of Pymoli
print(len(uniqueSN)) #Prints the length of the array
unique_players = len(uniqueSN) #The length of the array is the number of unique players

players_dict = [{"Total Players":unique_players}] #Defines a dictionary that lists the total number of players
sndf = pd.DataFrame(players_dict) #Turns the dictionary into a dataframe with 1 row
sndf #prints dataframe

573

   Total Players
0            573

In [4]:
#Get all information for Purchasing Analysis DataFrame
#Get number of Unique Items
uniqueItems = df['Item ID'].unique()
unique_items = len(uniqueItems)
print(unique_items)

#Get Average Price
Price = df['Price']
average_price = Price.sum()/len(Price)
print(average_price)

#Get Number of Purchases
transactions = df['SN']
number_of_transactions = len(transactions)
print(number_of_transactions)

#Get Total Revenue
revenue = df['Price']
total_revenue = revenue.sum()
print(total_revenue)

183
2.9311923076923074
780
2286.33

In [5]:
#Construct Purchasing Analysis Dataframe
purchasing_analysis_dict = [{'Number of Unique Items':unique_items, 'Average Price':average_price, 'Number of Purchases':number_of_transactions, 'Total Revenue':total_revenue}]
purchasing_analysis_df = pd.DataFrame(purchasing_analysis_dict)
#Format columns
purchasing_analysis_df['Average Price'] = purchasing_analysis_df['Average Price'].map("${:.2f}".format)
purchasing_analysis_df['Total Revenue'] = purchasing_analysis_df['Total Revenue'].map("${:.2f}".format)
#Reorder columns
organized_df = purchasing_analysis_df[["Number of Unique Items","Average Price","Number of Purchases","Total Revenue"]]
#Print table
organized_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $2.93                  780      $2286.33

In [6]:
#Get all data for Gender Demographics DataFrame
#Create dataframe with males only
males_df = df.loc[df['Gender'] == "Male",:]
#Filter out males who made multiple purchases : array of male players
unique_male_SN = males_df['SN'].unique()
#Number of male players is the length of the above array
unique_males = len(unique_male_SN)
print(unique_males) #Prints the number of male players

465

In [7]:
#Create dataframe with females only
females_df = df.loc[df['Gender'] == "Female",:]
#Filter out females who made multiple purchases : array of female players
unique_female_SN = females_df['SN'].unique()
#Number of female players is the length of the above array
unique_females = len(unique_female_SN)
print(unique_females) #Prints the number of female players

100

In [8]:
#Number of Other / Non-Disclosed players is the Total number of players - Number of males and females
unique_non_disclosed = unique_players-(unique_males+unique_females)
print(unique_non_disclosed)

8

In [9]:
#Get percentages of each group
mpercent = (unique_males/unique_players)
fpercent = (unique_females/unique_players)
opercent = (unique_non_disclosed/unique_players)

In [11]:
#Create dataframe
gender_demographics_dict = {
                                'Gender':['Male','Female','Other / Non-Disclosed'], 
                                'Percentage of Players': [mpercent, fpercent, opercent], 
                                'Total Count': [unique_males, unique_females, unique_non_disclosed]
                            }
gddf = pd.DataFrame(gender_demographics_dict)
#Reformat dataframe and set index to Gender
gddf['Percentage of Players'] = gddf['Percentage of Players']*100
gddf['Percentage of Players'] = gddf['Percentage of Players'].map("{:.2f}%".format)
gd = gddf.set_index('Gender')
gd

                      Percentage of Players  Total Count
Gender
Male                                 81.15%          465
Female                               17.45%          100
Other / Non-Disclosed                 1.40%            8

In [12]:
#Number of Purchases for all three groups
male_transactions = males_df['SN']
number_of_male_transactions = len(male_transactions)
female_transactions = females_df['SN']
number_of_female_transactions = len(female_transactions)
other_df = df.loc[df['Gender'] == "Other / Non-Disclosed",:]
other_transactions = other_df['SN']
number_of_other_transactions = len(other_transactions)

#Average Purchase Price and Total Purchase Value for all three groups
MPrice = males_df['Price']
total_mpurchase = MPrice.sum()
average_mprice = MPrice.sum()/len(MPrice)
print(total_mpurchase)
print(average_mprice)

FPrice = females_df['Price']
total_fpurchase = FPrice.sum()
average_fprice = FPrice.sum()/len(FPrice)
print(total_fpurchase)
print(average_fprice)

OPrice = other_df['Price']
total_opurchase = OPrice.sum()
average_oprice = OPrice.sum()/len(OPrice)
print(total_opurchase)
print(average_oprice)
#Creates Dataframe from Dictionary, changes index to Gender, and reformats money values
gd_purchasing_analysis_dict = {
                                'Gender':['Male','Female','Other / Non-Disclosed'], 
                                'Purchase Count': [number_of_male_transactions, number_of_female_transactions, number_of_other_transactions],
                                'Average Purchase Price': [average_mprice, average_fprice, average_oprice],
                                'Total Purchase Value': [total_mpurchase, total_fpurchase, total_opurchase]
                            }
gd_pa_df = pd.DataFrame(gd_purchasing_analysis_dict)
gdpadf = gd_pa_df.set_index('Gender')
gdpadf['Average Purchase Price'] = gdpadf['Average Purchase Price'].map("${:.2f}".format)
gdpadf['Total Purchase Value'] = gdpadf['Total Purchase Value'].map("${:.2f}".format)
gdpadf.head()

1867.68
2.950521327014218
382.90999999999997
2.815514705882353
35.739999999999995
3.2490909090909086

,Average Purchase Price,Purchase Count,Total Purchase Value
Gender,,,
Male,$2.95,633,$1867.68
Female,$2.82,136,$382.91
Other / Non-Disclosed,$3.25,11,$35.74

In [13]:
#Create Bins for the different age values
bins = [0,9,14,19,24,29,34,39,100]
#Create labels for the bins
age_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
#Add an extra column to the original dataframe with these age ranges
df['Age Range'] = pd.cut(df['Age'], bins, labels=age_names)
#Create Age Specific Dataframes by filtering ages using new column
under_tendf = df.loc[df['Age Range'] == "<10",:]
ten_fourteendf = df.loc[df['Age Range'] == "10-14",:]
fifteen_nineteendf = df.loc[df['Age Range'] == "15-19",:]
twenty_twentyfourdf = df.loc[df['Age Range'] == "20-24",:]
twentyfive_twentyninedf = df.loc[df['Age Range'] == "25-29",:]
thirty_thirtyfourdf = df.loc[df['Age Range'] == "30-34",:]
thirtyfive_thirtyninedf = df.loc[df['Age Range'] == "35-39",:]
over_fourtydf = df.loc[df['Age Range'] == "40+",:]
#over_fourtydf

In [15]:
#Count number of players in age group by counting unique SN
range1players = len(under_tendf['SN'].unique())
range2players = len(ten_fourteendf['SN'].unique())
range3players = len(fifteen_nineteendf['SN'].unique())
range4players = len(twenty_twentyfourdf['SN'].unique())
range5players = len(twentyfive_twentyninedf['SN'].unique())
range6players = len(thirty_thirtyfourdf['SN'].unique())
range7players = len(thirtyfive_thirtyninedf['SN'].unique())
range8players = len(over_fourtydf['SN'].unique())

In [16]:
#Calculate playerbase percent based on age for each age group
percentage1 = range1players/unique_players
percentage2 = range2players/unique_players
percentage3 = range3players/unique_players
percentage4 = range4players/unique_players
percentage5 = range5players/unique_players
percentage6 = range6players/unique_players
percentage7 = range7players/unique_players
percentage8 = range8players/unique_players

In [17]:
#Calculate purchase count, average purchase price, and total value for each group 
Price1 = under_tendf['Price']
number_of_purchases1 = len(Price1)
T1 = Price1.sum()
AP1 = Price1.sum()/len(Price1)

Price2 = ten_fourteendf['Price']
nop2 = len(Price2)
T2 = Price2.sum()
AP2 = Price2.sum()/len(Price2)

Price3 = fifteen_nineteendf['Price']
nop3 = len(Price3)
T3 = Price3.sum()
AP3 = Price3.sum()/len(Price3)

Price4 = twenty_twentyfourdf['Price']
nop4 = len(Price4)
T4 = Price4.sum()
AP4 = Price4.sum()/len(Price4)

Price5 = twentyfive_twentyninedf['Price']
nop5 = len(Price5)
T5 = Price5.sum()
AP5 = Price5.sum()/len(Price5)

Price6 = thirty_thirtyfourdf['Price']
nop6 = len(Price6)
T6 = Price6.sum()
AP6 = Price6.sum()/len(Price6)

Price7 = thirtyfive_thirtyninedf['Price']
nop7 = len(Price7)
T7 = Price7.sum()
AP7 = Price7.sum()/len(Price7)

Price8 = over_fourtydf['Price']
nop8 = len(Price8)
T8 = Price8.sum()
AP8 = Price8.sum()/len(Price8)

In [18]:
#Create Dictionary with all age values
age_data_dict = {
    'Age Range': ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'],
    'Player Count': [range1players, range2players, range3players, range4players, range5players, range6players, range8players, range8players],
    'Percentage of Players': [percentage1, percentage2, percentage3, percentage4, percentage5, percentage6, percentage7, percentage8],
    'Purchase Count': [number_of_purchases1, nop2, nop3, nop4, nop5, nop6, nop7, nop8],
    'Average Purchase Price': [AP1, AP2, AP3, AP4, AP5, AP6, AP7, AP8],
    'Total Purchase Value': [T1, T2, T3, T4, T5, T6, T7, T8]
}
#Create and Reformat dataframe money and percent values
agedf = pd.DataFrame(age_data_dict)
agedf['Percentage of Players'] = agedf['Percentage of Players']*100
agedf['Percentage of Players'] = agedf['Percentage of Players'].map("{:.2f}%".format)
agedf['Average Purchase Price'] = agedf['Average Purchase Price'].map("${:.2f}".format)
agedf['Total Purchase Value'] = agedf['Total Purchase Value'].map("${:.2f}".format)
#Change column order and set index to Age Range
agedf = agedf[['Age Range','Percentage of Players','Player Count','Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]
agedf = agedf.set_index('Age Range')
agedf

,Percentage of Players,Player Count,Purchase Count,Average Purchase Price,Total Purchase Value
Age Range,,,,,
<10,3.32%,19,28,$2.98,$83.46
10-14,4.01%,23,35,$2.77,$96.95
15-19,17.45%,100,133,$2.91,$386.42
20-24,45.20%,259,336,$2.91,$978.77
25-29,15.18%,87,125,$2.96,$370.33
30-34,8.20%,47,64,$3.08,$197.25
35-39,4.71%,11,42,$2.84,$119.40
40+,1.92%,11,17,$3.16,$53.75