In [42]:
#Dependencies
import pandas as pd
import numpy as np
import os

In [43]:
#File Path
purchase_data = os.path.join('Resources', 'purchase_data.json')
#Create Dataframe and display first 5 rows of DataFrame
df = pd.read_json(purchase_data)
df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [44]:
#Get number of players
uniqueSN = df['SN'].unique() #creates an array containing the number of unique players in Heroes of Pymoli
print(len(uniqueSN)) #Prints the length of the array
unique_players = len(uniqueSN) #The length of the array is the number of unique players

players_dict = [{"Total Players":unique_players}] #Defines a dictionary that lists the total number of players
sndf = pd.DataFrame(players_dict) #Turns the dictionary into a dataframe with 1 row
sndf #prints dataframe

573

   Total Players
0            573

In [45]:
#Get all information for Purchasing Analysis DataFrame
#Get number of Unique Items
uniqueItems = df['Item ID'].unique()
unique_items = len(uniqueItems)
print(unique_items)

#Get Average Price
Price = df['Price']
average_price = Price.sum()/len(Price)
print(average_price)

#Get Number of Purchases
transactions = df['SN']
number_of_transactions = len(transactions)
print(number_of_transactions)

#Get Total Revenue
revenue = df['Price']
total_revenue = revenue.sum()
print(total_revenue)

183
2.9311923076923074
780
2286.33

In [46]:
#Construct Purchasing Analysis Dataframe
purchasing_analysis_dict = [{'Number of Unique Items':unique_items, 'Average Price':average_price, 'Number of Purchases':number_of_transactions, 'Total Revenue':total_revenue}]
purchasing_analysis_df = pd.DataFrame(purchasing_analysis_dict)
#Format columns
purchasing_analysis_df['Average Price'] = purchasing_analysis_df['Average Price'].map("${:.2f}".format)
purchasing_analysis_df['Total Revenue'] = purchasing_analysis_df['Total Revenue'].map("${:.2f}".format)
#Reorder columns
organized_df = purchasing_analysis_df[["Number of Unique Items","Average Price","Number of Purchases","Total Revenue"]]
#Print table
organized_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $2.93                  780      $2286.33

In [59]:
#Get all data for Gender Demographics DataFrame
#Create dataframe with males only
males_df = df.loc[df['Gender'] == "Male",:]
#Filter out males who made multiple purchases : array of male players
unique_male_SN = males_df['SN'].unique()
#Number of male players is the length of the above array
unique_males = len(unique_male_SN)
print(unique_males) #Prints the number of male players

465

In [60]:
#Create dataframe with females only
females_df = df.loc[df['Gender'] == "Female",:]
#Filter out females who made multiple purchases : array of female players
unique_female_SN = females_df['SN'].unique()
#Number of female players is the length of the above array
unique_females = len(unique_female_SN)
print(unique_females) #Prints the number of female players

100

In [63]:
#Number of Other / Non-Disclosed players is the Total number of players - Number of males and females
unique_non_disclosed = unique_players-(unique_males+unique_females)
print(unique_non_disclosed)

8

In [64]:
#Get percentages of each group
mpercent = (unique_males/unique_players)
fpercent = (unique_females/unique_players)
opercent = (unique_non_disclosed/unique_players)

In [71]:
gender_demographics_dict = {
                                'Gender':['Male','Female','Other / Non-Disclosed'], 
                                'Percentage of Players': [mpercent, fpercent, opercent], 
                                'Total Count': [unique_males, unique_females, unique_non_disclosed]
                            }
gddf = pd.DataFrame(gender_demographics_dict)
gddf['Percentage of Players'] = gddf['Percentage of Players']*100
gddf['Percentage of Players'] = gddf['Percentage of Players'].map("{:.2f}%".format)
gd = gddf.set_index('Gender')
gd

                      Percentage of Players  Total Count
Gender
Male                                 81.15%          465
Female                               17.45%          100
Other / Non-Disclosed                 1.40%            8