In [114]:
#Dependencies
import pandas as pd
import numpy as np
import os

In [115]:
#File Path
purchase_data = os.path.join('Resources', 'purchase_data.json')
#Create Dataframe and display first 5 rows of DataFrame
df = pd.read_json(purchase_data)
df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [116]:
#Get number of players
uniqueSN = df['SN'].unique() #creates an array containing the number of unique players in Heroes of Pymoli
unique_players = len(uniqueSN) #The length of the array is the number of unique players

total_players_dict = {
    "Total Players": [unique_players]
}
total_players_df = pd.DataFrame(total_players_dict)
total_players_df

   Total Players
0            573

In [117]:
males_df = df.loc[df['Gender'] == "Male",:]
females_df = df.loc[df['Gender'] == "Female",:]

others_list = []
for x in range(0, len(df['Gender'])):
    if(df['Gender'][x] != "Male" and df['Gender'][x] != "Female"):
        others_list.append(df['Gender'][x])
        
others_set = set(others_list)
other_df = df.loc[df['Gender'] == others_list[0],:]

male_players = len(males_df['SN'].unique())
female_players = len(females_df['SN'].unique())
other_players = len(other_df['SN'].unique())
player_gender_counts_list = []
gender_percentages_list = []

player_gender_counts_list.append(male_players)
player_gender_counts_list.append(female_players)
player_gender_counts_list.append(other_players)
for d in range(0, len(player_gender_counts_list)):
    gender_percentages_list.append(player_gender_counts_list[d]/unique_players)

In [118]:
gender_demographics_dict = {
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Number of Players": player_gender_counts_list,
    "Percentage": gender_percentages_list
}
gender_demographics_df = pd.DataFrame(gender_demographics_dict)
gender_demographics_df

                  Gender  Number of Players  Percentage
0                   Male                465    0.811518
1                 Female                100    0.174520
2  Other / Non-Disclosed                  8    0.013962

In [119]:
#Purchase Count, Average Purchase Price, Total Purchase Value, Normalized Totals
purchase_counts_list = []
purchase_counts_list.append(len(males_df['Price']))
purchase_counts_list.append(len(females_df['Price']))
purchase_counts_list.append(len(other_df['Price']))
for count in purchase_counts_list:
    print(count)
print(sum(purchase_counts_list))

633
136
11
780

In [120]:
#Average Purchase Price and Total Purchase Value
average_list = []
total_list = []
total_list.append(sum(males_df['Price']))
total_list.append(sum(females_df['Price']))
total_list.append(sum(other_df['Price']))
for x in range(0, len(total_list)):
    average_list.append(total_list[x]/purchase_counts_list[x])

In [121]:
#Normalized Totals
normalized_purchase_percents = []
for y in range (0, len(purchase_counts_list)):
    normalized_purchase_percents.append(purchase_counts_list[y]/sum(purchase_counts_list))
normalized_revenue_percents = []
for z in range (0, len(total_list)):
    normalized_revenue_percents.append(total_list[z]/sum(total_list))
normalized_average_percents = []
for a in range(0, len(average_list)):
    normalized_average_percents.append(average_list[a]/sum(average_list))
rounded_normalized_purchase_percents = []
rounded_normalized_revenue_percents = []
rounded_normalized_average_percents = []
for purchase in normalized_purchase_percents:
    purchase = round(purchase, 3)
    rounded_normalized_purchase_percents.append(purchase)
for revenue in normalized_revenue_percents:
    revenue = round(revenue, 3)
    rounded_normalized_revenue_percents.append(revenue)
for average in normalized_average_percents:
    average = round(average, 3)
    rounded_normalized_average_percents.append(average)
print(rounded_normalized_purchase_percents)
print(rounded_normalized_revenue_percents)
print(rounded_normalized_average_percents)

[0.812, 0.174, 0.014]
[0.817, 0.167, 0.016]
[0.327, 0.312, 0.36]

In [122]:
gender_list = ["Male", "Female", "Other / Non-Disclosed"]
gender_dict = {
    "Gender": gender_list,
    "Purchase Count": purchase_counts_list,
    "Normalized Purchase Count": rounded_normalized_purchase_percents,
    "Total Revenue": total_list,
    "Normalized Total Revenue": rounded_normalized_revenue_percents,
    "Average Purchase Price": average_list,
    "Normalized Average Price": rounded_normalized_average_percents
    
}
gender_df = pd.DataFrame(gender_dict, columns=['Gender', 'Purchase Count', 'Total Revenue', 'Average Purchase Price',
                                               'Normalized Purchase Count', 'Normalized Total Revenue', 
                                               'Normalized Average Price'])
gender_df

,Gender,Purchase Count,Total Revenue,Average Purchase Price,Normalized Purchase Count,Normalized Total Revenue,Normalized Average Price
0,Male,633,1867.68,2.950521,0.812,0.817,0.327
1,Female,136,382.91,2.815515,0.174,0.167,0.312
2,Other / Non-Disclosed,11,35.74,3.249091,0.014,0.016,0.360

In [126]:
print(max(df['Age']))
print(min(df['Age']))
bins = [0, 10, 15, 20, 25, 30, 35, 40, 45, 50]
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
arange = pd.cut(df['Age'], bins=bins, labels=labels, right=False)
agedf = df
agedf['Age Range'] = arange
agedf.head()

45
7

,Age,Gender,Item ID,Item Name,Price,SN,Age Range
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,g
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,d
2,34,Male,174,Primitive Blade,2.46,Assastnya25,f
3,21,Male,92,Final Critic,1.36,Pheusrical25,d
4,23,Male,63,Stormfury Mace,1.27,Aela59,d

In [127]:
#Purchase Count, Average Purchase Price, Total Purchase Value, Normalized Totals
age_purchase_count = []
age_total_revenue = []
age_average_purchase_price = []
for label in labels:
    agerange_df = agedf.loc[agedf['Age Range'] == label,:]
    age_purchase_count.append(len(agerange_df['Item ID']))
    age_total_revenue.append(round(sum(agerange_df['Price']), 4))
    age_average_purchase_price.append(round(sum(agerange_df['Price'])/len(agerange_df['Price']), 4))
print(age_purchase_count)
print(age_total_revenue)
print(age_average_purchase_price)

[28, 35, 133, 336, 125, 64, 42, 16, 1]
[83.46, 96.95, 386.42, 978.77, 370.33, 197.25, 119.4, 51.03, 2.72]
[2.9807, 2.77, 2.9054, 2.913, 2.9626, 3.082, 2.8429, 3.1894, 2.72]

In [128]:
normalized_age_purchase_count = []
normalized_age_total_revenue = []
normalized_age_average_purchase_price = []
for c in range(0, len(age_purchase_count)):
    normalized_age_purchase_count.append(round(age_purchase_count[c]/sum(age_purchase_count), 2))
    normalized_age_total_revenue.append(round(age_total_revenue[c]/sum(age_total_revenue), 2))
    normalized_age_average_purchase_price.append(round(age_average_purchase_price[c]/sum(age_average_purchase_price), 2))
print(normalized_age_purchase_count)
print(normalized_age_total_revenue)
print(normalized_age_average_purchase_price)

[0.04, 0.04, 0.17, 0.43, 0.16, 0.08, 0.05, 0.02, 0.0]
[0.04, 0.04, 0.17, 0.43, 0.16, 0.09, 0.05, 0.02, 0.0]
[0.11, 0.11, 0.11, 0.11, 0.11, 0.12, 0.11, 0.12, 0.1]

In [129]:
range_list = ["0-9", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-50"]
age_dict = {
    "Age Range": range_list,
    "Purchase Count": age_purchase_count,
    "Total Revenue": age_total_revenue,
    "Average Purchase Price": age_average_purchase_price,
    "Normalized Purchase Count": normalized_age_purchase_count,
    "Normalized Total Revenue": normalized_age_total_revenue,
    "Normalized Average Price": normalized_age_average_purchase_price
}
age_results_df = pd.DataFrame(age_dict, columns=["Age Range", "Purchase Count", "Total Revenue", 
                                                 "Average Purchase Price", "Normalized Purchase Count", 
                                                 "Normalized Total Revenue", "Normalized Average Price"])
age_results_df

,Age Range,Purchase Count,Total Revenue,Average Purchase Price,Normalized Purchase Count,Normalized Total Revenue,Normalized Average Price
0,0-9,28,83.46,2.9807,0.04,0.04,0.11
1,10-14,35,96.95,2.7700,0.04,0.04,0.11
2,15-19,133,386.42,2.9054,0.17,0.17,0.11
3,20-24,336,978.77,2.9130,0.43,0.43,0.11
4,25-29,125,370.33,2.9626,0.16,0.16,0.11
5,30-34,64,197.25,3.0820,0.08,0.09,0.12
6,35-39,42,119.40,2.8429,0.05,0.05,0.11
7,40-44,16,51.03,3.1894,0.02,0.02,0.12
8,45-50,1,2.72,2.7200,0.00,0.00,0.10

In [130]:
SNs = list(df['SN'])
players = set(SNs)
players = list(players)
print(len(players))

573

In [131]:
player_SN = []
player_purchase_count = []
player_total_revenue = []
player_average_price = []
for player in players:
    playerdf = df.loc[df['SN'] == player,:]
    player_SN.append(player)
    player_purchase_count.append(len(playerdf['SN']))
    player_total_revenue.append(sum(playerdf['Price']))
    player_average_price.append(round(sum(playerdf['Price'])/len(playerdf['Price']), 2))

In [132]:
player_dict = {
    "SN": player_SN,
    "Purchase Count": player_purchase_count,
    "Total Revenue": player_total_revenue,
    "Average Price": player_average_price
}
player_df = pd.DataFrame(player_dict, columns=['SN', 'Purchase Count', 'Total Revenue', 'Average Price'])
player_df.head()

            SN  Purchase Count  Total Revenue  Average Price
0   Yalaeria91               1           1.88           1.88
1  Saelollop56               1           3.68           3.68
2     Syally44               1           2.22           2.22
3    Assassa43               1           3.89           3.89
4    Aenarap34               1           1.65           1.65

In [133]:
spenders_df = player_df.sort_values(by=['Total Revenue'], ascending=False)
result = spenders_df.head()
result

              SN  Purchase Count  Total Revenue  Average Price
434  Undirrala66               5          17.06           3.41
118     Saedue76               4          13.56           3.39
299  Mindimnya67               4          12.74           3.18
67    Haellysu29               3          12.73           4.24
532       Eoda93               3          11.58           3.86

In [134]:
items = set(df['Item ID'])
items = list(items)
item_IDs = []
item_names = []
item_price = []
item_purchase_count = []
item_total_purchase_value = []
for item in items:
    itemdf = df.loc[df['Item ID'] == item,:]
    item_IDs.append(item)
    unique_item_name = itemdf['Item Name'].unique()
    unique_item_price = itemdf['Price'].unique()
    item_names.append(unique_item_name[0])
    item_price.append(unique_item_price[0])
    item_purchase_count.append(len(itemdf['Price']))
    item_total_purchase_value.append(sum(itemdf['Price']))
item_dict = {
    "Item ID": item_IDs,
    "Item Name": item_names,
    "Purchase Count": item_purchase_count,
    "Price": item_price,
    "Total Purchase Value": item_total_purchase_value
}
item_df = pd.DataFrame(item_dict, columns=["Item ID", "Item Name", "Purchase Count", "Price", "Total Purchase Value"])
item_df.head()

   Item ID           Item Name  Purchase Count  Price  Total Purchase Value
0        0            Splinter               1   1.82                  1.82
1        1            Crucifer               4   2.28                  9.12
2        2             Verdict               1   3.40                  3.40
3        3        Phantomlight               1   1.79                  1.79
4        4  Bloodlord's Fetish               1   2.28                  2.28

In [135]:
popular_items_df = item_df.sort_values(by=['Purchase Count'], ascending=False)
popularitydf = popular_items_df.head()
popularitydf

,Item ID,Item Name,Purchase Count,Price,Total Purchase Value
39,39,"Betrayal, Whisper of Grieving Widows",11,2.35,25.85
84,84,Arcane Gem,11,2.23,24.53
31,31,Trickster,9,2.07,18.63
174,175,Woeful Adamantite Claymore,9,1.24,11.16
13,13,Serenity,9,1.49,13.41

In [136]:
profitable_items_df = item_df.sort_values(by=['Total Purchase Value'], ascending=False)
profitabledf = profitable_items_df.head()
profitabledf

,Item ID,Item Name,Purchase Count,Price,Total Purchase Value
34,34,Retribution Axe,9,4.14,37.26
115,115,Spectral Diamond Doomblade,7,4.25,29.75
32,32,Orenmir,6,4.95,29.70
103,103,Singed Scalpel,6,4.87,29.22
107,107,"Splitter, Foe Of Subtlety",8,3.61,28.88